# Local Backend URL (used when developing locally on localhost:5173)
VITE_DEV_BACKEND_URL="http://localhost:4500"

# Deployed Backend URL on Render (used when deployed on Vercel)
VITE_PROD_BACKEND_URL="https://guftgu-fsrp.onrender.com"

# Active Backend URL
VITE_BACKEND_URL="http://localhost:4500"

VITE_GOOGLE_CLIENT_ID="your_google_client_id_here"
VITE_API_UR="https://accounts.google.com/o/oauth2/auth"
