PORT=4500
MONGO_URI=mongodb://127.0.0.1:27017/chatapp
JWT_SECRET=your_jwt_secret_here

# Gmail Configuration for NodeMailer
GMAIL_USERNAME = example@gmail.com
GMAIL_PASSCODE = your_google_passcode

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
